    GLOBAL_SETTINGS
    LAB_MASTER_SEED oss_ac_allowssh_master_seed
    REGISTRY  labathdh2025
NETWORK SSH
     MASK 172.20.20.0/24
     GATEWAY 172.20.20.1
CONTAINER server
     USER ubuntu
     X11 YES
     SSH 172.20.20.3
CONTAINER client
     USER ubuntu
     X11 YES
     PASSWORD 123
     SSH 172.20.20.2
